body{
    align-items: center;
    font-family: Arial;
    color: chocolate;
}
.container{
    width: 100%;
    text-align: left;
    margin: 0 auto;
    border: 1px solid black;
}

#cabecera{
    padding: 10px;
    background: rgb(190, 86, 86);
    color: cornsilk;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 42px 5px rgba(0,0,0,0);
}
#blog-title{
    font-weight: normal;
}
#cabecera img{
    width: 20%;
}
#post{
    padding: 1em;
}

#footer{
    background-color: rgb(121, 72, 136);
    color: cornsilk;
    display: flex;
    align-items: center;
    padding: 10px;
}